  .Landing {
    background-color:  white;
    margin-bottom: 50px;
  }
  
  .lp-header {
    padding-top: 125px;
    padding-bottom: 25px;
    font-family: 'Merienda', cursive;
  }
  
  .lpInfo {
    text-align: left;
    min-height: 200px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    border-radius: 10px;
    border: 4px solid #eeede9;
    font-family: 'Roboto', sans-serif;
  }

  .Landing__link {
      min-height: 70px;
      padding: 40px 0;
      background-color: white;
      text-decoration: none;
  }
  
  .landToHome {
    background-color: #bfb391;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
  }

  @media screen and (max-width: 425px) {
    .lpInfo {
      max-width: 300px;
    }
  }

  @media screen and (min-width: 1230px) {
    .Landing {
      margin-bottom: 10px;
    }
  
    
    .lpInfo {
      max-width: 700px;
    }

    .Landing__link {
      padding: 75px;
    }

    .Landing__link {
      padding: 50px 0;
      background-color: white;
      text-decoration: none;
    }
  
    .landToHome {
      background-color: #bfb391;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-decoration: none;
      padding: 5px;
      border-radius: 7px;
    }
  }