  .Landing {
    background-color:  white;
  }
  
  .lp-header {
    /* padding: 12% 0; */
    padding-top: 125px;
    padding-bottom: 25px;
    /* font-family: 'Shadows Into Light Two', cursive; */
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Merienda', cursive;
  }
  
  .lpInfo {
    text-align: left;
    min-height: 200px;
    max-width: 400px;
    /* padding: 6% 0; */
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    border-radius: 10px;
    border: 4px solid #eeede9;
    font-family: 'Roboto', sans-serif;
  }

  .Landing__link {
      min-height: 70px;
      padding: 6% 0;
      background-color: white;
      text-decoration: none;
  }
  
  .landToHome {
    background-color: #bfb391;
    color: white;
    /* font-family: 'Didto', serif; */
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Merienda', cursive; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
  }