.adminPage {
    padding-top: 150px;
  }

  @media screen and (min-width: 1230px) {
    .adminPage {
      padding-top: 170px;
      padding-bottom: 120px;
      display: flex;
      width: fit-content;
      margin: auto;
    }
  
    .adminList{
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
    }
  }