.Users {
  padding-top: 150px;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

.Users__list {
    list-style-type: none;
    min-height: 200px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    border-radius: 10px;
    font-family: 'Baloo Chettan 2', cursive;
    margin-bottom: 50px;
    background-color: #A4B1cA;
    /* text-align: left; */
  }
  
.UsersListLink {
    font-size: 20px;
    margin: 0 0 8px auto;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;  
    text-decoration: underline;
    color: black;
    text-align: center;
  }

  .UsersListLink:hover {
    color: white;
    cursor: pointer;
  }

  .ULNum{
    display: inline;
    position: relative;
    top: 40px;
    right: 20px;
  }
  
  .UserAddressNumbers {
    width: 20px;
    float: right;
    font-size: 15px;
    font-weight: bold;
  }

@media screen and (max-width: 425px) {
  .Users__list {
    max-width: 330px;
  }
}


@media screen and (min-width: 1230px) {
  .Users {
    padding-bottom: 150px;
  }
  
  .Users__list {
    list-style-type: none;
    min-height: 400px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    border-radius: 10px;
    font-family: 'Baloo Chettan 2', cursive;
    margin-bottom: 50px;
    background-color: #A4B1cA;
  
  }
  
.UsersListLink {
    font-size: 30px;
    margin: 0 0 8px auto;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;  
    text-decoration: underline;
    color: black;
    text-align: center;
  }

.ULNum{
  display: inline;
  position: relative;
  top: 60px;
  right: 20px;
}


}