.App {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    position: relative;
    height: 100%;
    min-height: 70vh;
    /* overflow: hidden; */
    padding-bottom: 80px;
  }
  
  .App__nav {
    padding-top: 1px;
    padding-bottom: 80px;
    background-color: #eeede9;
    font-family: 'Shadows Into Light Two', cursive;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }


  .App__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #eeede9;
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 20px;
    font-family: 'Shadows Into Light Two', cursive;
  }

  .logo {
    width: 250px;
    position: absolute; 
    left: 50%;
    transform: translate(-50%);
    padding-top: 6px;
    display: inline-block; 
    text-align: center;
  }

  @media screen and (min-width: 1230px) {
    .App__nav {
      padding-top: 1px;
      padding-bottom: 110px;
      background-color: #eeede9;
      font-family: 'Shadows Into Light Two', cursive;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  
    .logo {
      width: 350px;
      position: absolute; 
      left: 50%;
      transform: translate(-50%);
      padding-top: 6px;
      display: inline-block; 
      text-align: center;
    }

    .App__footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: #eeede9;
      padding-top: 1px;
      padding-bottom: 1px;
      font-size: 30px;
      font-family: 'Shadows Into Light Two', cursive;
    }

  
  }
