.list {
    text-align: left;
    min-height: 200px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    border-radius: 10px;
    font-family: 'Baloo Chettan 2', cursive;
    margin-bottom: 50px;
}

div:nth-of-type(1) .list {background-color: #eef6fb; box-shadow: .5px .5px 2px 2px #eeede9;}
div:nth-of-type(2) .list {background-color: #DDE6ED;}
div:nth-of-type(3) .list {background-color: #A4B1cA;}
div:nth-of-type(4) .list {background-color: #8D98A1;}

.list-header {
    text-align: center;
    text-decoration: underline;
    color: black;
}

.addAddresses__button {
    text-align: center;
    margin-bottom: 30px;
}

.addAddresses {
    background-color: #0e2c3b;
    color: white;
    padding: 5px;
    border-radius: 7px;
    border:none;
}

.addAddressesLink {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

@media screen and (max-width: 425px) {
    .list {
      max-width: 325px;
    }
  }


@media screen and (min-width: 1230px) {
    .list {
        width: 370px;
        border: 1px solid #0e2c3b;
        box-shadow: none;
    }
}